<h1>Edycja biletu</h1>

<%= render 'form', ticket: @ticket %>

<div class="btn btn-warning">
	<%= link_to 'Pokaż bilet', @ticket %>
</div>

<div class="btn btn-warning">
	<%= link_to 'Powrót', tickets_path %>
</div>
