<h1>Nowy bilet</h1>

<%= render 'form', ticket: @ticket %>

<div class="btn btn-warning">
<%= link_to 'Powrót do strony głównej', events_path %>
</div>
<div class="btn btn-warning">
<%= link_to 'Lista biletów', tickets_path %>
</div>


